{% extends "sdg/layout.html" %}

{% block body %}

    <h2>Add an Article</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'AddArticle' %}" method="post">
        {% csrf_token %}
        <div class="form-group" >
            <input autofocus class="form-control" type="text" name="title" placeholder="Article Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="hidden" name="author" value="{{user}}">
        </div>
        <div class="form-group">
            <select class="form-control"  name="category">
                {% for category in categories %}
                    <option class="form-control" value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="content" placeholder="Use markdown to write the article" style="height: 25em;"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Add">
    </form>
{% endblock %}