{% extends "sdg/layout.html" %}
{% load static %}

{% block body %}
<p>{{message}}</p>
{% if articles %}
<div class="goalArticles" id="articleList">
    {% for article in articles %}
    <div class="col-md-6">
        <div class = "card flex-md-row mb-4 box-shadow">
            <div class="card-body d-flex flex-column align-items-start">
                <em class="mb-0 text-dark">{{article.category}}</em>
                <ul>
                    <strong><li class="sdgArticle d-inline-block mb-2 text-primary" id="{{article.id}}">{{article.title}}</li></strong>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="goalArticles" id="articleView">

</div>

<script>
LoadArticle()
function LoadArticle() {
    articleNodeList = document.querySelectorAll('.sdgArticle')
    articleNodeList.forEach(article => {
        
        article.addEventListener('click', () => {
            article_id = parseInt(article.getAttribute('id'))
            document.querySelector('#articleList').style.display = 'none'
            document.querySelector('#articleView').style.display = 'block'

            // send a fetch request for this particular title and then display 
            // the content of the the title
            fetch(`http://127.0.0.1:8000/article/${article_id}`)
            .then(response => response.json())
            .then(article => {
                document.querySelector('#articleView').innerHTML = article['content']
            })
        })

    })
}
</script>  
{% endif %}
{% endblock %}